<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adven-Chores</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <!-- <script>htmx.logAll();</script> -->
    </head>
    <body>
        <div class="app-container">
            <nav class="side-nav">
                <button class="nav-toggle" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <img class="logo" src="/static/logo.png" alt="Adven-Chores Logo">
                <div id="child-nav" hx-get="/child-nav" hx-trigger="load, refreshList from:body">
                    <!-- This will be populated dynamically -->
                </div>
                <a class="nav-item" id="parent-panel" hx-prompt="Enter Pin" href="#" hx-get="/parent-panel" hx-target="#content" hx-swap="innerHTML">Parent Panel</a>
                <a class="nav-item" id="logout-button" href="/logout">Logout</a>
            </nav>
            <main id="content">
                <h2 text-align="center">Welcome to Adven-Chores!</h2>
                <h3 id="landing-text" text-align="center" >Add a child or select a name from the list to begin</h3>
                <!-- Content will be loaded here-->
            </main>
        </div>

        <script>
            document.body.addEventListener('htmx:afterSettle', function(event) {
                if (event.detail.target.id === 'child-list') {
                    // Select the first child by default
                    const firstChild = document.querySelector('#child-list li:first-child a');
                    if (firstChild) {
                        firstChild.click();
                    }
                }
            });
        </script>
        <script>
            const navToggle = document.querySelector('.nav-toggle');
            const nav = document.querySelector('.side-nav');
            
            navToggle.addEventListener('click', () => {
                nav.classList.toggle('collapsed');
            });
        </script>
    </body>
</html>