<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adven-Chores</title>
    <link rel="stylesheet" href="/static/public_styles.css">
    <link rel="manifest" href="/static/manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <div class="public-container">
        <img src="/static/logo.png" alt="Adven-Chores Logo" class="auth-logo">
        {{template "content" .}}
    </div>
</body>
</html>